* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0 30px;
  background-color: rgb(166, 166, 228);
}

#title {
  text-align: center;
  font-size: 40px;
  margin: 10px auto;
  color: rgb(66, 66, 128);
}

#description {
  text-align: center;
  font-size: 25px;
  color: #fff;
}

#survey-form {
  text-align: center;
}

#preferences {
  list-style: none;
}
